// COLORS
$color-primary :#ffb866  ;  //#57ec52     //green swatches
$color-primary-light :#f8a252;  // #54db81
$color-primary-dark: #ff5e62 ;  //#28b485

// Font-size
$default-font-size: 1.6rem;


$color-secondary-light:#ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light :#2998ff;
$color-tertiary-dark :#5643fa;

$color-grey-light-1 : #f7f7f7;
$color-grey-light-2 : #eee;

$color-grey-dark:#777;
$color-grey-dark-2:#999;

$color-white: #fff;
$color-black: #000;



// GRIDS
$grid-width: 114rem;
$gutter-horizontal:8rem;
$gutter-vertical:8rem;